*{
    font-family: 'Roboto', sans-serif;
    transition: all .1s ease-in;
}

body {
    background: rgba(59, 63, 69, 1);

}

.header {
    background-color: rgba(74, 79, 86, 1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.header h2 {
    color: rgba(255, 137, 132, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}

.header h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 137, 132, 1);
    padding-bottom: 10px;
    margin-bottom: 0;
    ;
}

.main {
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 20px;
}

.main__checkbox {
    max-height: 56px;
    max-width: 780px;
    background-color: rgba(136, 131, 158, 1);
}
.main__checkbox:hover {
    background-color: rgba(98, 94, 119, 1);
}



label:checked {
    top: -1.6px;
    padding: 18px;
    padding-right: 387px;
    padding-left: 0px;
    display: inline-block;
    height: 20px;
    position: relative;
    max-height: 55.5px;


}

#_01{
    width: 20px;
    height: 20px;
    padding: 15px;
    margin: 15px;
}

#_01:checked > label {
    color: red;
}
