/* Normalize */

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.46;
    font-style: normal;
    font-weight: 400;
    background-color: #E5E5E5;
    color: #545454;
    letter-spacing: -0.2px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

/* /Normalize */

.main__wrapper {
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: center;
    margin: 55px auto;
    gap: 30px;
}

.container {
    width: 100%;
    max-width: 570px;
    background-color: #FFFFFF;
    padding: 35px 35px 16px 35px;
    border-radius: 6px;
    margin: 0 auto;
}

.title h2{
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    margin: 0px auto 20px 0px;
    color: #1C1C1C;
}

.label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border: none;
    cursor: pointer;
    position: relative;
}

.input, .country_select, .download_btn {
    background: #FFFFFF;
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 6px;

    display: flex;
    height: 38px;
    padding: 0;
    margin-top: 7px;
    outline: none;
}

.input:focus, .country_select:focus {
    border: none;
    border-radius: 6px;
    outline: 2px solid #007BFF;
}

.labes__block {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 20px;

    position: relative;
}

.email p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

.radio {
    margin: 20px 0px 20px -12px;
    display: flex;
}

label.radio_input_label:nth-last-child(1) {
    margin-left: 30px;
}

.radio_input {
    appearance: none;
}

.fake_radio {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #007BFF;
    border-radius: 50%;
    margin-right: 4px;
}

input:checked + .fake_radio {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 4px solid #007BFF;
    border-radius: 50%;
    margin-right: 4px;
}

.country_select{
    display: flex;
    height: 40px;
    font-family: 'Inter', sans-serif;
    color: #969696;
    cursor: pointer;
    padding-left: 10px;
    appearance: none;
}

.fake_arrow {
    position: absolute;
    top: 30px;
    left: 220px;
}

.sign_up {
    width: 100%;
    height: 38px;
    margin-bottom: 22px;
    background-color: #007BFF;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    border: 0 solid;
    color: #FFFFFF;
    font-weight: 500;
}

.terms_policy {
    width: 380px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E4E4;
    font-size: 13px;
    color: rgba(150, 150, 150, 1);
}

.terms a,  a{
    color: #007BFF;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 177px;
    margin: 0 auto;
}

.footer a {
    font-weight: 500;
}

.avatar img{
    border-radius: 50%;
}

.download_text {
    color: rgba(150, 150, 150, 1);
    font-size: 13px;
}

.download_btn {
    opacity: 0;
    width: 0;
    height: 0;
}

 .label.dwn {
    background: #FFFFFF;
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 6px;
    display: flex;
    height: 38px;
    padding: 0;
    margin-top: 7px;
    outline: none;
} 

.camera span {
    position: relative;
}

.camera i {
    position: absolute;
    left: 110px;
    bottom: 11px;
}

.trash span{
    display: block;
    max-width: 30px;
    max-height: 30px;
}

.delete {
    background: none;
    border: none;
    position: relative;
}

.delete i {
    bottom: 47px;
    position: absolute;
    border: 1px solid rgba(228, 228, 228, 1);
    padding: 5px;
    border-radius: 6px;
}

.upd {
    max-width: 35%;
}

