a {
  text-decoration: none;
}

body {
  margin: 0;
}

.main {
  max-width: 100%;
}
.main .header {
  background-color: #F5F7FF;
}
.main .header .wrapper {
  margin: 0 135px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.main .header .wrapper .logo_wrapper {
  width: 105px;
  padding: 25px 0;
}
.main .header .wrapper .logo_wrapper .logo {
  position: relative;
  top: -25px;
}
.main .header .wrapper .logo_wrapper .logo:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #544CAC;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  position: absolute;
  top: 28px;
  left: 30px;
  transform: rotate(48deg);
  z-index: 3;
}
.main .header .wrapper .logo_wrapper .logo:after {
  content: "";
  width: 20px;
  height: 15px;
  background: #FF5C00;
  clip-path: polygon(37% 0, 37% 86%, 0 46%);
  position: absolute;
  top: 0px;
  left: 1px;
  transform: rotate(180deg);
}
.main .header .wrapper .logo_wrapper .logo .logo_main {
  position: absolute;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  background-color: #544CAC;
  display: block;
  width: 15px;
  height: 10px;
  left: -5px;
}
.main .header .wrapper .logo_wrapper .logo .logo_triangle {
  position: absolute;
  left: 10px;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  background-color: #544CAC;
  display: block;
  width: 45px;
  height: 45px;
  overflow: visible;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main .header .wrapper .logo_wrapper .logo .left_triangle {
  width: 12px;
  height: 10px;
  background: #544CAC;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  position: absolute;
  top: 4px;
  left: 2px;
  transform: rotate(-129deg);
}
.main .header .wrapper .logo_wrapper .logo .ziro {
  font-family: "Odibee Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #272626;
  position: absolute;
  left: 52px;
  top: 10px;
}
.main .header .wrapper .navbar {
  padding: 15px 0;
}
.main .header .wrapper .navbar .nav_a {
  padding: 15px 10px;
  gap: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #272323;
}
.main .header .wrapper .navbar .nav_a:hover {
  transition: linear 0.3s;
  color: #ff5c00;
}
.main .header .wrapper .search_block {
  position: relative;
}
.main .header .wrapper .search_block input {
  border: none;
  width: 100%;
  height: 35px;
  border-radius: 50px;
  display: block;
  background: #e3e3e3;
  overflow: hidden;
  outline: none;
}
.main .header .wrapper .search_block input::placeholder {
  padding-left: 20px;
  background: #e3e3e3;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 62px;
  letter-spacing: 0.02em;
  color: #A5A5A5;
}
.main .header .wrapper .search_block .search_icon {
  display: flex;
  position: absolute;
  right: 7px;
  top: 5px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: navajowhite;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .header .wrapper .log_in_block .log_a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 62px;
  align-items: center;
  letter-spacing: 0.02em;
  padding: 0 5px;
}
.main .header .wrapper .log_in_block .log_a:hover {
  color: #4238AF;
}
.main .freelancer {
  background-color: #F5F7FF;
  position: relative;
}
.main .freelancer .wrapper {
  margin: 0 135px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.main .freelancer .wrapper .freelancer_wrapper {
  max-width: 50%;
  width: 100%;
}
.main .freelancer .wrapper .text {
  padding: 115px 0 0 0;
}
.main .freelancer .wrapper .text .h3 {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.07em;
  color: #353434;
  text-align: left;
}
.main .freelancer .wrapper .text .h3 .free {
  color: #FF5C00;
}
.main .freelancer .wrapper .text .p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #A8A8A8;
  text-align: left;
}
.main .freelancer .wrapper .text .a_block {
  display: flex;
  justify-content: start;
}
.main .freelancer .wrapper .text .a_block .discover {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 12px 22px;
  background: #544CAC;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.main .freelancer .wrapper .text .a_block .discover:hover {
  background: #7823a2;
  transition: linear 0.4s;
}
.main .freelancer .wrapper .text .a_block .watch {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 33px;
}
.main .freelancer .wrapper .text .a_block .watch .demo {
  padding-left: 5px;
}
.main .freelancer .wrapper .image_freelancer {
  max-width: 50%;
  width: 100%;
  position: relative;
  margin-top: 120px;
}
.main .freelancer .wrapper .image_freelancer .picture_wrp {
  position: relative;
}
.main .freelancer .wrapper .image_freelancer .picture_wrp .picture img {
  z-index: 5;
  position: relative;
}
.main .freelancer .wrapper .image_freelancer .circle_orange {
  background: #FF5C00;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 160px;
  right: 235px;
  z-index: 1;
}
.main .freelancer .wrapper .image_freelancer .circle_orange::before {
  content: "";
  max-width: 66px;
  max-height: 66px;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: #F5F7FF;
  position: absolute;
  z-index: 3;
  left: -10px;
  top: 120px;
}
.main .freelancer .wrapper .image_freelancer .circle_orange::after {
  content: "";
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: #F5F7FF;
  position: absolute;
  z-index: 3;
  left: 15px;
  top: 20px;
}
.main .freelancer .wrapper .image_freelancer .circle_purpurle {
  background: #4238AF;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 245px;
  right: 135px;
}
.main .freelancer .wrapper .image_freelancer .circle_purpurle::after {
  display: block;
  content: "";
  max-width: 25px;
  max-height: 25px;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: #4238AF;
  opacity: 0.5;
  position: absolute;
  z-index: 3;
  left: -80px;
  top: 20px;
}
.main .freelancer .wrapper .image_freelancer .circle_purpurle::before {
  display: block;
  content: "";
  max-width: 42px;
  max-height: 42px;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: #4238AF;
  opacity: 0.5;
  position: absolute;
  z-index: 3;
  left: 225px;
  bottom: -100px;
}
.main .freelancer .wrapper .image_freelancer .square {
  max-width: 65px;
  width: 100%;
  max-height: 65px;
  height: 100%;
  position: absolute;
  outline: 3px solid #FF5C00;
  transform: rotate(45deg);
  top: -20px;
  right: 260px;
}
.main .freelancer .wrapper .image_freelancer .square::after {
  position: absolute;
  display: block;
  content: "";
  outline: 3px solid #4238AF;
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  right: 155px;
  top: 230px;
  transform: rotate(25deg);
}
.main .freelancer .wrapper .image_freelancer .square::before {
  position: absolute;
  display: block;
  content: "";
  outline: 3px solid #FF5C00;
  max-width: 15px;
  width: 100%;
  max-height: 15px;
  height: 100%;
  left: 300px;
  top: 30px;
}
.main .freelancer .wrapper .image_freelancer .circle_orange_small {
  background: #FF5C00;
  opacity: 0.5;
  clip-path: circle(50% at 50% 50%);
  max-width: 17px;
  max-height: 17px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 370px;
  right: 220px;
  z-index: 3;
}
.main .freelancer .wrapper .image_freelancer .circle_orange_small::before {
  content: "";
  max-width: 16px;
  max-height: 16px;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: #FF5C00;
  position: absolute;
  z-index: 3;
  left: 125px;
  top: -100px;
}
.main .freelancer .wrapper .image_freelancer .circle_orange_small::after {
  content: "";
  max-width: 26px;
  max-height: 26px;
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: #FF5C00;
  position: absolute;
  z-index: 3;
  right: 175px;
  top: -110px;
}
.main .logos {
  padding-top: 30px;
}
.main .logos .wrapper {
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .logos .wrapper .logos_list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.main .logos .wrapper .logos_list .logo_item {
  min-width: 110px;
}
.main .HowItWorks {
  padding-top: 100px;
}
.main .HowItWorks .wrapper {
  display: flex;
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.main .HowItWorks .wrapper .easily {
  max-width: 40%;
  width: 100%;
}
.main .HowItWorks .wrapper .easily .easile_title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #353434;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}
.main .HowItWorks .wrapper .easily .accordion_wrapper {
  background-color: #f5f7ff;
  border-radius: 6px;
  display: block;
  max-width: 435px;
  width: 100%;
  margin-bottom: 15px;
}
.main .HowItWorks .wrapper .easily .accordion_item.complete {
  width: 100%;
  margin-right: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.main .HowItWorks .wrapper .easily .accordion_item.complete::before {
  content: "1";
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f3e0ff;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #9444C9;
}
.main .HowItWorks .wrapper .easily .accordion_item.vacancies {
  width: 435px;
  position: relative;
  display: flex;
  align-items: center;
}
.main .HowItWorks .wrapper .easily .accordion_item.vacancies::after {
  content: "2";
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #E7E9FE;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #626fff;
}
.main .HowItWorks .wrapper .easily .accordion_item.apply {
  width: 435px;
  padding-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.main .HowItWorks .wrapper .easily .accordion_item.apply::after {
  content: "3";
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #FFDECC;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #FF5C00;
}
.main .HowItWorks .wrapper .easily .accordion_title {
  display: flex;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #323232;
  background-color: #f5f7ff;
  border-radius: 6px;
  padding-left: 60px;
  margin: 0;
  width: 435px;
}
.main .HowItWorks .wrapper .easily .collapse {
  display: block;
  width: 100%;
}
.main .HowItWorks .wrapper .easily .collapse .accordion_text {
  padding-left: 50px;
  padding-right: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 0.02em;
  color: #A8A8A8;
  margin-top: 0;
  padding-bottom: 20px;
}
.main .HowItWorks .wrapper .python_img {
  max-width: 60%;
  width: 100%;
}
.main .HowItWorks .wrapper .python_img picture {
  display: flex;
  justify-content: end;
}
.main .HowItWorks .wrapper .python_img picture .picture-img {
  width: 100%;
  max-width: 100%;
}
.main .WhyChooseUs {
  margin-top: 100px;
}
.main .WhyChooseUs .wrapper {
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .WhyChooseUs .wrapper .wrapper_why-title {
  margin: 0 auto;
}
.main .WhyChooseUs .wrapper .wrapper_why-title .why_title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #353434;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.main .WhyChooseUs .wrapper .wrapper_why-title .why_p {
  max-width: 550px;
  width: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #A8A8A8;
  margin: 0 auto;
  padding-bottom: 45px;
}
.main .WhyChooseUs .wrapper .choose-blocks {
  display: flex;
  justify-content: space-between;
}
.main .WhyChooseUs .wrapper .choose-blocks .choose-item {
  max-width: 270px;
  width: 100%;
  border-radius: 20px;
  padding: 40px;
  padding-bottom: 35px;
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.6);
}
.main .WhyChooseUs .wrapper .choose-blocks .choose-item:hover {
  background-color: #f9faff;
  margin-top: -15px;
  margin-bottom: 15px;
}
.main .WhyChooseUs .wrapper .choose-blocks .choose-svg_wrapper.purpurle_bg {
  background: #6156DC;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.main .WhyChooseUs .wrapper .choose-blocks .choose-svg_wrapper.orange_bg {
  background: #EF6010;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.main .WhyChooseUs .wrapper .choose-blocks .choose-svg_wrapper.blue_bg {
  background: #A73EED;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.main .WhyChooseUs .wrapper .choose-blocks .choose-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #323232;
  margin: 0;
  margin-top: 20px;
}
.main .WhyChooseUs .wrapper .choose-blocks .choose-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: #8F8F8F;
  margin-bottom: 0;
}
.main .FeaturedJobs {
  margin-top: 120px;
}
.main .FeaturedJobs .wrapper {
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .FeaturedJobs .wrapper .wrapper_featured-title .featured_title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #353434;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.main .FeaturedJobs .wrapper .wrapper_featured-title .featured_p {
  max-width: 550px;
  width: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #A8A8A8;
  margin: 0 auto;
  padding-bottom: 45px;
}
.main .FeaturedJobs .wrapper .wrapper_cards {
  display: flex;
  justify-content: space-between;
}
.main .FeaturedJobs .wrapper .wrapper_cards .card-item {
  padding: 45px 75px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.main .FeaturedJobs .wrapper .wrapper_cards .card-item:hover {
  margin-top: -15px;
  margin-bottom: 15px;
  background: #F9FAFF;
}
.main .FeaturedJobs .wrapper .wrapper_cards .item_points {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  left: 235px;
  top: -15px;
}
.main .FeaturedJobs .wrapper .wrapper_cards .item_points::after {
  position: absolute;
  left: 10px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}
.main .FeaturedJobs .wrapper .wrapper_cards .item_points::before {
  position: absolute;
  right: 10px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}
.main .FeaturedJobs .wrapper .wrapper_cards .card-avatar {
  max-height: 75px;
  max-width: 75px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #FF5C00;
  margin: 0 auto;
}
.main .FeaturedJobs .wrapper .wrapper_cards .card-avatar img {
  max-height: 75px;
  max-width: 75px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.main .FeaturedJobs .wrapper .wrapper_cards .database {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  color: #323232;
  margin: 30px 0;
}
.main .FeaturedJobs .wrapper .wrapper_cards .marraz {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4238AF;
  text-decoration: none;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_money {
  display: flex;
  padding-top: 30px;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_money .svg-money {
  align-items: center;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_money .text-money {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding-left: 10px;
  color: #323232;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_money .span-money {
  font-size: 14px;
  color: #898989;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_map {
  display: flex;
  padding-top: 20px;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_map .text-map {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: #323232;
  padding-left: 10px;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_map .span-map {
  font-size: 14px;
  color: #898989;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_buttons {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_buttons .like-a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #F9FAFF;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_buttons .like-a .like-svg path {
  fill: #FF5C00;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_buttons .like-a:hover {
  background-color: #FF5C00;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_buttons .like-a:hover .like-svg path {
  fill: #F9FAFF;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_buttons .apply {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 35px;
  background: rgba(56, 49, 139, 0.33);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 47px;
}
.main .FeaturedJobs .wrapper .wrapper_cards .wrapper_buttons .apply:hover {
  background-color: #544CAC;
}
.main .FeaturedJobs .wrapper .view-more {
  max-width: 150px;
  margin: 0 auto;
  margin-top: 75px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  display: block;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 35px;
  background: #544CAC;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 47px;
}
.main .WhatOurCustomerSays {
  margin-top: 130px;
}
.main .WhatOurCustomerSays .wrapper {
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .WhatOurCustomerSays .wrapper .wrapper_WhatOur-title .WhatOur_title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #353434;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.main .WhatOurCustomerSays .wrapper .wrapper_WhatOur-title .WhatOur_p {
  max-width: 550px;
  width: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #A8A8A8;
  margin: 0 auto;
  padding-bottom: 45px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item {
  display: flex;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur_wrapper-avatar {
  max-width: 350px;
  width: 100%;
  position: relative;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur_wrapper-avatar .svg-bubles {
  position: absolute;
  left: 0;
  bottom: 65px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur_wrapper-avatar .svg-e {
  position: absolute;
  top: 20px;
  left: 50px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur_wrapper-avatar .WhatOur-img {
  background: #CED5F4;
  border-top-left-radius: 50%;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description {
  max-width: 65%;
  width: 100%;
  margin-left: 40px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .description-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  color: #323232;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .description-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  color: #868686;
  text-transform: uppercase;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .description-stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .description-stars .stars-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #323232;
  margin: 0;
  padding-left: 10px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .description-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: #383838;
  line-height: 24px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end {
  display: flex;
  justify-content: space-between;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows {
  display: flex;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .left {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F3F5FF;
  border-radius: 7px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .left::before {
  height: 10px;
  width: 10px;
  content: "";
  display: block;
  border-top: 2px solid #FF5C00;
  border-left: 2px solid #FF5C00;
  position: absolute;
  transform: rotate(-45deg);
  top: 13px;
  left: 15px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .left::after {
  position: absolute;
  width: 10px;
  height: 2px;
  content: "";
  display: block;
  border-top: 2px solid #FF5C00;
  top: 18px;
  left: 20px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .left:hover {
  background-color: #FF5C00;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .left:hover::before {
  border-top: 2px solid #F3F5FF;
  border-left: 2px solid #F3F5FF;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .left:hover::after {
  border-top: 2px solid #F3F5FF;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .right {
  position: relative;
  margin-left: 15px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F3F5FF;
  border-radius: 7px;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F3F5FF;
  border-radius: 7px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .right::before {
  height: 10px;
  width: 10px;
  content: "";
  display: block;
  border-right: 2px solid #FF5C00;
  border-bottom: 2px solid #FF5C00;
  position: absolute;
  transform: rotate(-45deg);
  top: 13px;
  left: 15px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .right::after {
  position: absolute;
  width: 10px;
  height: 2px;
  content: "";
  display: block;
  border-top: 2px solid #FF5C00;
  top: 18px;
  left: 12px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .right:hover {
  background-color: #FF5C00;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .right:hover::before {
  border-right: 2px solid #F3F5FF;
  border-bottom: 2px solid #F3F5FF;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-arrows .right:hover::after {
  border-top: 2px solid #F3F5FF;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-students {
  display: flex;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-students .students-icon {
  max-height: 45px;
  margin-left: -15px;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-students .number {
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
  background-color: #A9A3E9;
  width: 45px;
  height: 45px;
  outline: 3px solid #A9A3E9;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main .WhatOurCustomerSays .wrapper .WhatOur-slider_wrapper .WhatOur-slider-item .WhatOur-description .desription-end .end-students img {
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
  outline: 3px solid #FF5C00;
}
.main .Counters {
  margin-top: 120px;
}
.main .Counters .wrapper {
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .Counters .wrapper .wrapper-counters {
  padding: 70px 0;
  background-color: #CED5F4;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
}
.main .Counters .wrapper .wrapper-counters .count-numbers {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 40px;
  color: #584EC6;
  margin: 0;
}
.main .Counters .wrapper .wrapper-counters .count-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.main .PricingPlan {
  margin-top: 120px;
}
.main .PricingPlan .wrapper {
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .PricingPlan .wrapper .wrapper-Pricing_title .pricing-title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #353434;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.main .PricingPlan .wrapper .wrapper-Pricing_title .pricing-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #A8A8A8;
  margin: 0 auto;
  padding-bottom: 55px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card {
  max-width: 350px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: -1px 1px 20px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  padding: 60px 65px;
  gap: 20px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card .pricing-type {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: #4238AF;
  margin: 0;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card .pricing-cost {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  color: #353434;
  margin: 0;
  padding-top: 36px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card .pricing-plan {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #8A86B9;
  padding-bottom: 70px;
  margin: 0;
  padding-top: 25px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card .pricing-options {
  align-items: start;
  text-align: left;
  margin-bottom: 65px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card .pricing-options .option-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #A8A8A8;
  margin: 20px 0px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card .pricing-button {
  background: #BDBBD9;
  border-radius: 50px;
  padding: 15px 25px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card:hover {
  background: #F9FAFF;
  box-shadow: 0px 12px 30px rgba(71, 71, 71, 0.15);
  margin-top: -15px;
  margin-bottom: 15px;
}
.main .PricingPlan .wrapper .wrapper-pricing_cards .wrapper-pricing_card:hover .pricing-button {
  background-color: #4238AF;
}
.main .footer {
  background: #DBE2FF;
  border-radius: 30px 30px 0px 0px;
}
.main .footer .wrapper {
  margin: 0 135px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 10px;
}
.main .footer .wrapper .wrapper_footer-block {
  display: flex;
  justify-content: space-between;
}
.main .footer .wrapper .wrapper_footer-block .footer-block {
  margin-bottom: 150px;
}
.main .footer .wrapper .wrapper_footer-block .footer-block .block_a-title h2 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #353434;
  margin: 0 0 10px 0;
}
.main .footer .wrapper .wrapper_footer-block .footer-block .block_a-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #717171;
  margin: 20px 0 0 0;
}
.main .footer .wrapper .wrapper_footer-end {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main .footer .wrapper .wrapper_footer-end::after {
  width: 100%;
  height: 1px;
  display: block;
  content: "";
  border-top: 2px solid #4238AF;
  position: absolute;
  top: -15px;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo {
  max-width: 30%;
  width: 105px;
  padding: 25px 0;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo .logo {
  position: relative;
  top: -25px;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo .logo:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #544CAC;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  position: absolute;
  top: 28px;
  left: 30px;
  transform: rotate(48deg);
  z-index: 3;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo .logo:after {
  content: "";
  width: 20px;
  height: 15px;
  background: #FF5C00;
  clip-path: polygon(37% 0, 37% 86%, 0 46%);
  position: absolute;
  top: 0px;
  left: 1px;
  transform: rotate(180deg);
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo .logo .logo_main {
  position: absolute;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  background-color: #544CAC;
  display: block;
  width: 15px;
  height: 10px;
  left: -5px;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo .logo .logo_triangle {
  position: absolute;
  left: 10px;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  background-color: #544CAC;
  display: block;
  width: 45px;
  height: 45px;
  overflow: visible;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo .logo .left_triangle {
  width: 12px;
  height: 10px;
  background: #544CAC;
  clip-path: polygon(50% 0, 50% 100%, 0 50%);
  position: absolute;
  top: 4px;
  left: 2px;
  transform: rotate(-129deg);
}
.main .footer .wrapper .wrapper_footer-end .footer-end_logo .logo .ziro {
  font-family: "Odibee Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #272626;
  position: absolute;
  left: 52px;
  top: 10px;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_privacy {
  display: flex;
  justify-content: space-between;
  max-width: 30%;
  width: 100%;
  align-items: center;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_privacy .privacy_a {
  display: block;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_social {
  max-width: 15%;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
}
.main .footer .wrapper .wrapper_footer-end .footer-end_social .social-a {
  height: 30px;
  width: 30px;
  background: #FFFFFF;
  border-radius: 50%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}