footer.footer 
    section.footer_wrapper.wrapper 
        .footer_contacts 
            h2.footer_contacts--h2 Need a project?
            a.contacts_a(href="#") (239) 555-0108
            a.contacts_a(href="#") tanya.hill@example.com
        .footer_copyright 
            p.footer_copyright--text &copy; Copyright Manifest Theme. Allrights reserved
        .footer_social
            .social_wrapper
                a.social_a.icon-instagram(href="#")
            .social_wrapper
                a.social_a.icon-facebook(href="#")
            .social_wrapper
                a.social_a.icon-twitter(href="#")
            .social_wrapper
                a.social_a.icon-linkedin(href="#")