footer.footer 
    .footer_wrapper.wrapper 
        .footer-logo_block 
            .footer-logo_icon
                img.footer-logo_img(src="./assets/logo.png", alt="")
            .footer-logo_text 
                p.footer-logo_p ITLIFE
        .footer-logo_link
            a.footer-logo_a(href="#") home
            a.footer-logo_a(href="#") services
            a.footer-logo_a(href="#") about
            a.footer-logo_a(href="#") contacts
        .footer-icon_link 
            a.footer-icon_a
                span.footer-icon_img.icon-twitter
            a.footer-icon_a
                span.footer-icon_img.icon-facebook2
            a.footer-icon_a
                span.footer-icon_img.icon-instagram
            a.footer-icon_a
                span.footer-icon_img.icon-linkedin
            a.footer-icon_a
                span.footer-icon_img.icon-telegram