header.header 
    .wrapper
        .header_block 
            .header_wrapper.logo
                .header_logo_img
                    img.header_logo_image(src="./assets/logo.png", alt="")
                .header_logo_text
                    p.header_logo_p ITLIFE
            .header_wrapper.links
                a.header_link_a(href="#") home
                a.header_link_a(href="#") services
                a.header_link_a(href="#") about
                a.header_link_a(href="#") contacts
            .header_wrapper.button
                .header_button_fake
                    span.header_button_fake--span callback