main.main 
    .main_block.wrapper 
        .main_text 
            h2.main_text-h2 who we are 
            p.main_text-p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto doloremque rerum numquam deleniti, beatae corrupti illo quas debitis ipsa?
        .main_cards_block
            .main_cards-card_wrapper 
                .main_cards-card
                    .main_cards-avatar_wrapper
                        .main_cards-avatar_photo 
                            img.main_avatar-img(src=("./assets/photo1.jpg"))
                        .main_cards-avatar_hover_wrapper
                            .main_cards-avatar_hover
                                span.main_card-avatar_hover-icon.icon-twitter 
                                span.main_card-avatar_hover-icon.icon-facebook2
                                span.main_card-avatar_hover-icon.icon-instagram
                    .main_cards-card_title 
                        h5.main_cards-title_h5 John Handson 
                        p.main_cards-title_p Lead Designer

            .main_cards-card_wrapper 
                .main_cards-card
                    .main_cards-avatar_wrapper
                        .main_cards-avatar_photo 
                            img.main_avatar-img(src=("./assets/photo2.jpg"))
                        .main_cards-avatar_hover_wrapper
                            .main_cards-avatar_hover
                                span.main_card-avatar_hover-icon.icon-twitter 
                                span.main_card-avatar_hover-icon.icon-facebook2
                                span.main_card-avatar_hover-icon.icon-instagram
                    .main_cards-card_title 
                        h5.main_cards-title_h5 Alex Cutter
                        p.main_cards-title_p Developer

            .main_cards-card_wrapper 
                .main_cards-card
                    .main_cards-avatar_wrapper
                        .main_cards-avatar_photo 
                            img.main_avatar-img(src=("./assets/photo3.jpg"))
                        .main_cards-avatar_hover_wrapper
                            .main_cards-avatar_hover
                                span.main_card-avatar_hover-icon.icon-twitter 
                                span.main_card-avatar_hover-icon.icon-facebook2
                                span.main_card-avatar_hover-icon.icon-instagram
                    .main_cards-card_title 
                        h5.main_cards-title_h5 Elena Simpson 
                        p.main_cards-title_p Artist
            
            .main_cards-card_wrapper 
                .main_cards-card
                    .main_cards-avatar_wrapper
                        .main_cards-avatar_photo 
                            img.main_avatar-img(src=("./assets/photo3.jpg"))
                        .main_cards-avatar_hover_wrapper
                            .main_cards-avatar_hover
                                span.main_card-avatar_hover-icon.icon-twitter 
                                span.main_card-avatar_hover-icon.icon-facebook2
                                span.main_card-avatar_hover-icon.icon-instagram
                    .main_cards-card_title 
                        h5.main_cards-title_h5 Lily Allen
                        p.main_cards-title_p Graphic Designer