$color-gold: #FFCC00;
$text-hight: 24px;
$color-grey: #898F8F;
$color-greyD: #666666;
$color-black: #333333;

h1, h2, h3, h4, h5, p, span, div {
    margin: 0;
    padding: 0;
}

.main {
    padding: 120px 135px;
    text-align: center;
}

.main_subtitle {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $color-grey;
}

.main_title {
    color: $color_gold;
    font-size: $text-hight;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}

.main_img {
    position: relative;
    width: 600px;
    margin: 40px auto 0px;
}

.main_img::after {
    content: '';
    display: block;
    background: $color-gold;
    height: 1px;
    width: 210px;

    position: absolute;
    top: 10px;
    left: 70px;
}

.main_img::before {
    content: '';
    display: block;
    background: $color-gold;
    height: 1px;
    width: 210px;

    position: absolute;
    top: 10px;
    left: 320px;    
}

.contant_img {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    top: 10px;
}

.contant_itm {
    max-width: 40%;
    justify-content:space-between;
    padding-bottom: 30px;
    padding-top: 50px;
}

.contant_name {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;
    color: $color-greyD;
}

.contant_subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    padding-top: 60px;
}

.contant_social_list {
    padding-top: 30px;
}

.contant_text {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $color-black;
    padding-top: 40px;
    padding-bottom: 0px;
}

.text {
    display: inline-block;
}

.contant_wrp {
    max-width: 1030px;
    margin: 0 auto;
    padding-top: 40px;
    max-height: 100%;
    display:flex;
    justify-content:space-between;
    position: relative;
}

.contant_wrp:after {
    content: '';
    position: absolute;
    display: block;
    background-color: $color-gold;
    height: 100%;
    width: 1px;
    left: 50%;
}

.lines_span {
    position: relative;
    display: block;
    height: 4px;
    width: 20px;
    background-color: $color-gold;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
}

.lines_span::before {
    content: '';
    display: block;
    background: $color-gold;
    height: 4px;
    width: 10px;
        
    position: absolute;
    top: 0;
    left: 30px;    
}

.lines_span::after {
    content: '';
    display: block;
    background: $color-gold;
    height: 4px;
    width: 10px;
        
    position: absolute;
    top: 0;
    left: -20px;    
}

.contant_a {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: $color-greyD;
    text-decoration: none;
    border: 1px solid $color-gold;
    padding: 5px 10px;
}
