body {
    position: relative;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
}

.header__wrapper {
    position: relative;
}

.header__wrapper img {
    display: flex;

    position: absolute;
    left: 960px;
    top: 13px;
}

.header__wrapper a {
    display: flex;

    position: absolute;
    top: 33px;

    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    text-align: center;

    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.header__wrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 30px;
    left: 100px;
}

.header__wrapper p {
    margin: 0px;

    font-family: 'Staatliches';
    font-size: 22px;
    line-height: 28px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
}

.content p {
    padding-bottom: 40px;
    margin: 0;
}

*{  /* .chapters p */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

h2 {
    font-family: 'Francois One';
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
}

.sup__chapters {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.background {
    background-color: #aebfcaa2;
}